<h1>Welcome to Pizza Picker</h1>
<button type="button" class="btn btn-primary" (click)="pullFriends(); orderModal.show()">Create New Order</button>
<label>{{ errorLabel }}</label>
<div style="padding-top: 20px; padding-bottom: 20px;">
  <table class="table table-hover">
    <thead>
      <th style="font-size: 25px">Current Preference</th>
      <th style="font-size: 25px">Preference Name</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let pref of preferences">
        <td><button type="button" class="btn btn-outline-primary" [class.active]="pref.isCurrent" (click)="updateCurrent(pref.id)">Active</button></td>
        <td style="font-size: 25px">{{ pref.name }}</td>
        <td><button type="button" class="btn btn-primary" (click)="openPref(pref.prefs, pref.id, pref.name); lgModal.show();">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deletePref(pref)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-primary" (click)="openPref(); lgModal.show()">New Preference Set</button>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Preference Page</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Preference Name:</h6>
        <input type="text" style="width: 50%" class="form-control" placeholder="Every good pizza needs a name!" [(ngModel)]="prefSetName">
        <ul class="list-group" style="padding-top: 10px">
          <ng-container *ngFor="let pref of prefDisplay">
            <li class="list-group-item" *ngIf="!allergicTo(top)">
              <h6>{{ pref.topping }}</h6>
              <div class="btn-group">
                <label class="btn btn-outline-danger" [class.active]="pref.score === -1" (click)="pref.score = -1">Dislike</label>
                <label class="btn btn-outline-primary" [class.active]="pref.score === 0" (click)="pref.score = 0">Neutral</label>
                <label class="btn btn-outline-success" [class.active]="pref.score === 1" (click)="pref.score = 1">Like</label>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default mr-auto" (click)="lgModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px" (click)="savePref(lgModal);">Save</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #orderModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Create Your Order</h4>
        <button type="button" class="close pull-right" (click)="orderModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="col-md-6" style="height: 500px; overflow: scroll;">
            <h3>My Friends</h3>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let friend of friends">
                <button type="button" class="btn btn-primary" (click)="addToOrder(friend)">Add</button>
                {{ friend }}
              </li>
            </ul>
          </div>
          <div class="col-md-6" style="height: 500px; overflow: scroll;">
            <h3>My Order</h3>
            <ul class="list-group">
              <li class="list-group-item">{{ router.url.split('/')[2] }}</li>
              <li class="list-group-item" *ngFor="let person of myOrder">
                <button type="button" class="btn btn-danger" (click)="removeFromOrder(person)">Remove</button>
                {{ person }}
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default mr-auto" (click)="orderModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px" (click)="placeOrder(); orderModal.hide()">Place
          Order</button>
      </div>
    </div>
  </div>
</div>