<h1>Pizza Stats. Because What is Eating Without Some Analytics?</h1>
<div class="card text-white bg-primary" id="card">
  <div class="card-body">
    <h5 class="card-title">Your Total Orders:</h5>
    <h6 class="card-subtitle mb-2">Number of times you have used the picker</h6>
    <p class="card-text">{{ orders }}</p>
  </div>
</div>
<div id="middle-card">
  <div class="card text-white bg-success" id="wide-card">
    <div class="card-body">
      <h5 class="card-title">Your Primary Pizza Pal:</h5>
      <h6 class="card-subtitle mb-2">Who you've made the most orders with</h6>
      <p class="card-text">{{ bestfriend }}</p>
    </div>
  </div>
</div>
<div class="card text-white bg-danger" id="card">
  <div class="card-body">
    <h5 class="card-title">Favorite Toppings:</h5>
    <h6 class="card-subtitle mb-2">What your pizza most likely includes</h6>
    <p class="card-text">{{ topTopping }}</p>
  </div>
</div>